<div class="container-fluid" ng-controller='ModalDemoCtrl'>	
	<div class="row">
		<div class="col-xs-2 col-xs-offset-2" ng-controller="fotosCameraRollCtrl as controlador">
			<h3><font color="blue">Marzo,13,2014</font></h3>
			<div class="thumbnail" ng-repeat="fotos in controlador.fotosPropias">
				<img src="{{fotos.url}}" class="img-thumbnail" ng-model="fotos.url" id="fotoActual" ng-click="open('lg',fotos.url)">
				<div class="caption">
				<p>
					<font color="blue"><strong>{{fotos.titulo}}</strong></font>
					<span class="glyphicon glyphicon-heart"><font color="blue">42</font></span>
					<span class="glyphicon glyphicon-comment"><font color="blue">32</font></span>
				</p>
				</div>
			</div>
		</div>
		<div class="col-xs-2 col-xs-offset-5">
			<ul>
				<li><a href="#"><strong><font color="blue">2015</font></strong></a></li>
				<li><a href="#"><strong><font color="blue">2014</font></strong></a></li>
					<ul>
						<li><a href="#"><font color="blue">Marzo</font></a></li>
						<li><a href="#"><font color="blue">Abril</font></a></li>
						<li><a href="#"><font color="blue">Septiembre</font></a></li>
						<li><a href="#"><font color="blue">Diciembre</font></a></li>
					</ul>
				</li>
				<li><a href="#"><strong><font color="blue">2013</font></strong></a></li>

			</ul>
		</div>
	</div>
</div>