<div class = "container-fluid" ng-controller='ModalDemoCtrlEditarPerfil'>
        <div class="row">
            <div class="modal-header col-xs-6" ng-controller="getUsuario as controladorusuario">
                <p><h1><strong>Usuario: </strong> {{controladorusuario.usuario.username}}</h1></p>
                <p><h2>Nombre : <strong></strong> {{controladorusuario.usuario.nombreUsuario}}</h2></p>
                <p><h2>Apellido :<strong></strong> {{controladorusuario.usuario.apellidoUsuario}}</h2></p>
                <p><h2>Correo: <strong></strong> {{controladorusuario.usuario.emailUsuario}}</h2></p>
                <p><h2>Fecha de Nacimiento: <strong></strong> {{controladorusuario.usuario.fechaNacimientousuario}}</h2></p>
                <p><h2>Móvil: <strong></strong> {{controladorusuario.usuario.numeroMovilusuario}}</h2></p>
                <p><h2>País: <strong></strong> {{controladorusuario.usuario.paisUsuario}}</h2></p>
                <p><h2>Sexo: <strong></strong> {{controladorusuario.usuario.sexoUsuario}}</h2></p>
            </div>
            <div align=CENTER class="col-xs-6">	
                <p></p>
                <p></p>
                <img align=center width="100" height="100" src="img/usuario.jpg" alt=":)" class="img-thumbnail">
                <p></p>
                <p></p>
                <p></p>
                <button type="button" class="btn btn-primary" ng-click="open('lg')">
                    <h4>Editar perfil</h4>
                </button>
                <p></p>
                <div ng-controller='ModalDemoCtrlCambiarPass'>
                    <button type="button" class="btn btn-primary" ng-click="openpass('lg')">
                        <h4>Cambiar contraseña</h4>
                    </button>
                </div>
            </div>
        </div>
</div>