    <div ng-controller="getFotoCookie as controladorfoto">
        <div class="modal-header" ng-controller="getUsuarioFoto as controladorusuario">
            <h1>Título: {{ controladorfoto.foto.titulo }} </h1>
            <h2>Descripción: {{ controladorfoto.foto.descripcion }}</h2>
            <h3>Dueño: {{controladorusuario.usuario.nombre_usuario}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6" align="center">
                <img ng-src="{{URLFOTO}}" class="img-thumbnail">
                </div>
                <div class="col-xs-3" align="center" ng-controller="ComentariosCtrl as controlador">
                    <div class="alert alert-warning" role="alert" ng-repeat="comentarios in controlador.comentariosFiltrados">
                    <p>"{{ comentarios.textoComentario }}"</p>
                    <p><strong>{{ comentarios.usuarioidusuario.username }}</strong></p>
                    <h6><p>{{ comentarios.fechaComentario }}</p></h6>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-6" align="center">
                    <div class="input-group">
                        <input type="text" class="form-control input-lg" required ng-model="comentario.textoComentario">
                    </div>
                </div>
                <div class="col-xs-3" align="center" ng-controller="comentarCtrl">
                    <button class="btn btn-primary" ng-click="comentar(comentario)">Comentar</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
                </div>
        </div>
        </div>
    </div>