<div class="container-fluid" data-ng-controller="subirFotosCtrl">	
	<div class="row">
		<div class="col-xs-6">
			<form name="upload" ng-submit="uploadFile()">
				<div>
					<label for="ejemplo_archivo_1"><font color="blue">Elija su Foto</font></label>
					<input type="file" name="file" uploader-model="file" /> <br>
				</div>
				<div>
					<label for="titulo"><font color="blue">Título</font></label>
					<input type="text" ng-model="titulo" /><br>

				</div>
				<div>
					<label for="desc"><font color="blue">Descripción</font></label>
					<input type="text" ng-model="descripcion" /><br>
				</div>
				<div>
					<label for="tag"><font color="blue">Tags</font></label>
					<input type="text" ng-model="tags" /><br>
				</div>
				<div>
					<label for="pers"><font color="blue">Personas</font></label>
					<input type="text" ng-model="personas" /><br>
				</div>
				<div>
					<label for="album"><font color="blue">Álbum</font></label>
					<input type="text" ng-model="album" /><br>
				</div>
				<div >
					<label for="album"><font color="blue">Privacidad</font></label>
					<input type="text" ng-model="privacidad" nbh/><br>
				</div>
				<input type="submit" value="Enviar"> 
			</form>
		</div>
	</div>
</div>